# /
/autom4te.cache
/aclocal.m4
/compile
/configure
/config.h
/config.log
/config.status
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-h
/stamp-h1

# /src
/src/Makefile
/src/Makefile.in
/src/libpgc.a
